
body {
    margin: 10px;
}

.box {
    display: block;
    width: 70px;
    height: 70px;
    margin: 10px 0;
}

.orange {
    background-color: orange;  
    opacity: 0;     
    /* https://css-tricks.com/almanac/properties/t/transform/ */
    transform: translateY(-30px);
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}