
body {
    margin: 0;
}

.container {    
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.cajas {
    display: flex;
    flex-direction: row;
}

.box {
    cursor: pointer;
    width: 70px;
    height: 70px;
    margin: 10px;
    opacity: 0;
    transform: scale(0.5) rotate(-10deg);
}
.orange {
    background: orange;
}
.blue {
    background: blue;
}

